{% extends 'baseback.html.twig' %}

{% block content %}
    <h1>modfier service</h1>
<section class="content">
    {{ form_start(edit_form) }}
    <div class="form-group">
        <label>Nom service</label>
        {{ form_widget(edit_form.nomService,{'attr':{'class':'form-control','placeholder':'nom service...'}}) }}
    </div>

    <div class="form-group">
        <label>prix</label>
        {{ form_widget(edit_form.prix,{'attr':{'class':'form-control','placeholder':'prix...'}}) }}
    </div>
    <div class="form-group">
        <label>Type</label>
        {{ form_widget(edit_form.type,{'attr':{'class':'form-control'}}) }}
    </div>

    <div class="form-group">
        <label>Description</label>
        {{ form_widget(edit_form.description,{'attr':{'class':'form-control','placeholder':'description...'}}) }}
    </div>
    <div class="form-group">
        <label>etat</label>
        {{ form_widget(edit_form.etat,{'attr':{'class':'form-control','placeholder':'etat...'}}) }}
    </div>

    <div class="form-group">
        <label>region</label>
        {{ form_widget(edit_form.region,{'attr':{'class':'form-control','placeholder':'region...'}}) }}
    </div>

    <div class="form-group">
        <label>Image</label>
        <td>

            <img src="{{ asset('uploads/images/' ~ service.image)}}" alt="Image" width="200" height="200" />
        </td>
        </tr>
        {{ form_widget(edit_form.image,{'attr':{}}) }}
    </div>

        <a   class="btn btn-success btn-lg btn-block">
        <button class="btn btn-success zmdi zmdi-hc-fw btn-block" data-type="success" name="modfier" type="submit"></button>

        </a>
    {{ form_end(edit_form) }}

    <table>
                {{ form_start(delete_form) }}
        <a
         class="btn btn-danger btn-block">
        <button class="btn btn-danger zmdi zmdi-hc-fw btn-block" data-type="success" name="supprimer" type="submit"></button>
        </a>
            {{ form_end(delete_form) }}


    <a class="btn btn-primary btn-block "
       href="{{ path('service_show',{ 'idService': service.idService }) }}">

        <i class="zmdi zmdi-hc-fw" ></i>
    </a>
        </table>
    </section>
{% endblock %}
