{% extends 'baseback.html.twig' %}
{% block content %}
    <h1>Services list</h1>
    <div class="body">
    {{ form_start(form) }}
    {{ form_widget(form.nomService, { 'attr': {'class': 'form-control','placeholder':'nomService'} }) }}
    <center>  {{ form_widget(form.search, { 'attr': {'class': 'icon-circle bg-light-blue'} }) }}</center>

    {{ form_end(form) }}




    <table >
        <thead>
        <tr>
            <th>Nomservice</th>
            <th>Type</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Etat</th>
            <th>Contact</th>
            <th>Region</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.nomService }}</td>
                <td>{{ service.type }}</td>
                <td>{{ service.prix }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.etat }}</td>
                <td>{{ service.contact }}</td>
                <td>{{ service.region }}</td>
                <td>
                <img src="{{ asset('uploads/images/' ~ service.image)}}" width="100" height="100" /></td>
                <td>
                    <ul>
                            <a class="btn btn-primary"
                               href="{{ path('service_show', { 'idService': service.idService }) }}">
                                <i class="zmdi zmdi-hc-fw"></i>
                            </a>
                    </ul>
                </td>
            </tr>
        {% endfor %}

{% endblock %}