
{% extends 'baseback.html.twig' %}
{% block content %}


    <section class="content">


        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Basic</strong> Examples </h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"> <a href="{{ asset('javascript:void(0);') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                                        <li><a href="{{ asset('javascript:void(0);') }}">Action</a></li>
                                        <li><a href="{{ asset('javascript:void(0);') }}">Another action</a></li>
                                        <li><a href="{{ asset('javascript:void(0);') }}">Something else</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <center> <h1 style="color:blue;">Promotion</h1></center>






                            <center>   <table >
                                    <tbody>
                                    <tr>
                                        <th>Nomp promotion</th>
                                        <td>{{ promotion.nomPromotion }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom produit</th>
                                        <td>{{ promotion.nomProduit }}</td>
                                    </tr>
                                    <tr>
                                        <th>prix hab</th>
                                        <td>{{ promotion.prixHab }}</td>
                                    </tr>
                                    <tr>
                                        <th>prix promo</th>
                                        <td>{{ promotion.prixPromo }}</td>
                                    </tr>
                                    <tr>
                                        <th>pourcentage</th>
                                        <td>{{ promotion.pourcentage }}</td>
                                    </tr>
                                    <tr>
                                        <th>Datedebut</th>
                                        <td>{{ promotion.dateDebut|date('d-m-Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Datefin</th>
                                        <td>{{ promotion.dateFin|date('d-m-Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ promotion.description }}</td>
                                    </tr>


                                    </tbody>
                                </table></center>

                            <ul>


                                {{ form_start(delete_form) }}
                                <input type="submit" class="btn btn-primary btn-block waves-effect waves-light" value="Delete">
                                {{ form_end(delete_form) }}

                                <li>
                                    <a href="{{ path('promotion_index') }}">Back to the list</a>
                                </li>
                                <li>
                                    <a href="{{ path('promotion_edit', { 'idPromotion': promotion.idPromotion }) }}">Edit</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Exportable Table -->

        </div>

        </div>
    </section>



{% endblock %}


