{% extends 'basef.html.twig' %}
 {% block content %}
     <br><br><br><br>
     <section class="content">
         <div class="body_scroll">
             <div class="block-header">
                 <div class="row">
                     <div class="col-lg-7 col-md-6 col-sm-12">
                         <h1>Lists des promotions</h1>
                         <ul class="breadcrumb">
                             <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                             <li class="breadcrumb-item"><a href="blog-dashboard.html">Evenements</a></li>
                             <li class="breadcrumb-item active">Evenements View</li>

                         </ul>
                         <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                     </div>
                     <div class="col-lg-5 col-md-6 col-sm-12">
                         <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                     </div>
                 </div>
             </div>
             <div class="container-fluid">
                 <div class="row clearfix">
                     <div class="col-lg-12">
                         <div class="card">
                             <div class="table-responsive">
                                 <table class="table table-hover product_item_list c_table theme-color mb-0">
                                     <thead>
                                     <tr>
                                         <th style="color: #0c7ce6">Nom Promo</th>
                                         <th style="color: #0c7ce6">Nom Produit</th>


                                         <th style="color: #0c7ce6" data-breakpoints="sm xs md">Pourcentage</th>
                                         <th style="color: #0c7ce6" data-breakpoints="sm xs md">Date Debut</th>
                                         <th style="color: #0c7ce6" data-breakpoints="sm xs md">Date Fin</th>

                                         <th style="color: #0c7ce6" data-breakpoints="sm xs md">Afficher</th>
                                     </tr>
                                     </thead>
                                     <tbody>

                                     {% for promotion in promotions %}





<tr>

                                         <td>{{ promotion.nomPromotion }}</td>
                                         <td>{{ promotion.nomProduit }}</td>


                                         <td>{{ promotion.Pourcentage }}</td>
                                         <td>{{ promotion.dateDebut|date('d-m-Y') }}</td>
                                         <td>{{ promotion.dateFin|date('d-m-Y') }}</td>




    <td>

        <a href="{{ path('promotion_user_show', { 'id': promotion.idPromotion }) }}" type="submit" class="btn btn-info">Afficher</a>

    </td>


</tr>



                                     {% endfor %}




                                     </tbody>
                                 </table>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
         </div>
         </div>
     </section>
 {% endblock %}